/* Max page width on all pages */
.page,
#main,
.wrap {
  max-width: 100% !important;
  width: 100% !important;
  box-sizing: border-box;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
